.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 2rem;
  padding: 0 3rem;
}
.home .intro {
  font-size: 3.7vw;
  font-weight: 900;
  line-height: 1;
  animation: slideUp 1s ease-out forwards;
  min-width: 64rem;
}
.home .underIntro {
  font-size: 1.3vw;
  max-width: 64rem;
  min-width: 15rem;
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
