.editButton {
  background-image: url(/lighpurple-edit.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.2rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 600ms;
}
.editButton:hover {
  background-image: url(/pen.png);
  transition: all 300ms;
}

.darkMode {
  background-image: url(/lightblue-edit.png);
}
