:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
  height: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
}

/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: #707070; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}
