.categoryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  min-width: fit-content;
  padding: 0.5rem;
  font-weight: 600;
  border: 1px solid rgb(254, 77, 77);
  border-radius: 10px;
  margin: 0.5rem;
}
.categoryItem.active {
  background-color: rgba(254, 77, 77, 0.2);
}
