.slideContainer {
  position: relative;
  width: 35rem;
}
.ruler {
  overflow-x: auto;

  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgb(228, 228, 229);
}
.ruler::-webkit-scrollbar {
  display: none;
}
.linesContainer {
  position: relative;
  display: flex;
  height: 17rem;
  left: 52%;
}

.lines {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 0.1rem;
  background-color: rgb(228, 228, 229);
}
.medium {
  height: 35px;
}
.large {
  height: 50px;
}

.lineNumber {
  position: absolute;
  top: -20px;
  left: -5px;
  font-weight: 600;
}

.scrollInfo {
  position: absolute;
  left: 45%;
  top: 38%;
  width: 4.5rem;
  height: 4.5rem;
  color: rgb(255, 75, 75);
  box-shadow: 0 0 10px 1px rgba(240, 104, 104, 0.699);
  border-radius: 50%;
  text-align: center;
  align-content: center;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.scrollInfo {
  text-transform: capitalize;
}

.rulerTitle {
  position: absolute;
  left: 41%;
  top: 15%;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.rulerTitle span {
  text-transform: lowercase;
}
.rulerTitle span {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(162, 169, 169);
}
.scrollInfo::after {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  width: 0.1rem;
  height: 6.1rem;
  background-color: rgb(255, 75, 75);
}

/* @media screen and (max-width: 645px) {
  .scrollInfo {
    left: 43%;
  }
}
@media screen and (max-width: 395px) {
  .scrollInfo {
    left: 41%;
  }
}
@media screen and (max-width: 290px) {
  .scrollInfo {
    left: 38%;
  }
} */
